---
import "@/styles/global.css";
import Layout from "@/layouts/Layout.astro";

import bg from "@/assets/bg_home.jpg";
---

<Layout
  title="Inicio"
  bgImage={bg.src}
  subTitle="Disfruta de una deliciosa taza de café"
>
  <h1>Inicio</h1>
  <section slot="after-main-content"> Promociones</section>
</Layout>
