---
import Logo from "@/assets/logo.svg"
import MainNav from "./MainNav.astro";

interface Props {
  subTitle: string;
  bgImage: string;
}
const {  subTitle, bgImage } = Astro.props;
---

<header class="relative min-h-72  pb-72">
  <div
    class="absolute inset-0 bg-center bg-cover"
    style={{ backgroundImage: `url(${bgImage})` }}
  >
    <div class="absolute inset-0 bg-black/60"></div>
  </div>
  <div class="relative max-w-7xl mx-auto py-3 ">
    <div class="flex flex-col items-center lg:flex-row justify-between">
      <a href="/">
      <Logo class="w-72"/>
    </a>
    <MainNav />
    </div>
    <h1 class="text-4xl font-black uppercase text-white text-center mt-12">{subTitle}</h1>
  </div>
</header>
